<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>get vocabulary</title>
  <link  th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
<div id="container">
  <nav>
    <a href="/test">home</a>
    <a href="#">about</a>
    <a href="list">vocabulary list</a>
    <a href="/new">Add vocab</a>
  </nav>
  <div id="vocab-container">
    <div class="open-group" id="1">
      <label id="id-label" >ID</label>
<!--      <input id="edit-id" class="form-control" type="text" th:field="*{id}" disabled>-->
      <p id="edit-id" th:text="${vocab.id}"></p>

    </div>
    <div class="open-group" id="2">
      <label id="jap-label">JAPANESE</label>
<!--      <input id="japanese" class="form-control" type="text" th:field="*{japanese}">-->
      <p id="japanese" th:text="${vocab.japanese}"></p>

    </div>
    <div class="open-group" id="3">
      <label id="kor-label" >KOREAN</label>
<!--      <input id="korean" class="form-control" type="text" th:field="*{korean}">-->
      <p id="korean" th:text="${vocab.korean}"></p>

    </div>
    <div class="open-group" id="4">
      <label id="eng-label" >ENGLISH</label>
<!--      <input id="english" class="form-control" type="text" th:field="*{english}">-->
      <p id="english" th:text="${vocab.english}"></p>
    </div>
    <div class="open-group" id="5">
      <label id="pol-label" >POLISH</label>
<!--      <input id="polish" class="form-control" type="text" th:field="*{polish}">-->
      <p id="polish" th:text="${vocab.polish}"></p>

    </div>
    <div class="form-group" id="6">
      <a id="edit-vocab" class="form-control btn" th:href="@{/update(id=${vocab.id})}">Edit this vocabulary</a>
      <input onclick='javascript:window.history.back()' value='Cancel' type='button' class="form-control btn" />
    </div>
</div>
</div>
</body>
</html>
