<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit vocabulary</title>
  <link  th:href="@{/styles.css}" rel="stylesheet">

</head>
<body>
<div id="container">
  <nav>
    <a href="/test">home</a>
    <a href="#">about</a>
    <a href="/list">vocabulary list</a>
    <a href="/new">Add vocab</a>
  </nav>
  <div id="edit-vocab">
  <form th:id="edit-form" th:method="POST" th:action="@{/update(id=${updateVocab.id})}" th:object="${updateVocab}" enctype="multipart/form-data">
    <div class="form-group" id="1">
      <label id="id-label" for="edit-id">ID</label>
      <input id="edit-id" class="form-control" type="text" th:field="*{id}" disabled>
    </div>
    <div class="form-group" id="2">
      <label id="jap-label" for="japanese">JAPANESE</label>
      <input id="japanese" class="form-control" type="text" th:field="*{japanese}">
    </div>
    <div class="form-group" id="3">
      <label id="kor-label" for="korean">KOREAN</label>
      <input id="korean" class="form-control" type="text" th:field="*{korean}">
    </div>
    <div class="form-group" id="4">
      <label id="eng-label" for="english">ENGLISH</label>
      <input id="english" class="form-control" type="text" th:field="*{english}">
    </div>
    <div class="form-group" id="5">
      <label id="pol-label" for="polish">POLISH</label>
      <input id="polish" class="form-control" type="text" th:field="*{polish}">
    </div>
    <div class="form-group" id="6">
      <input type="submit" class="form-control btn btn-primary" value="Edit">
      <input onclick='javascript:window.history.back()' value='Cancel' type='button' class="form-control btn btn-secondary" />
    </div>
  </form>
</div>
</div>

</body>
</html>
